@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.note {
  display: flex;
 justify-content: space-between;
  align-items: center;

  &.disabled {
    pointer-events: auto;
  }
  strong {
    margin-right: 1rem;
  }
}
.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  transition: opacity 750ms ease-out;
  opacity:1;
}

.alert-exit-active {
  transition: opacity 750ms ease-out;
  opacity:0;
}
.note-exit-active {
  animation: note 1s ease-out forwards;
  opacity:0;
}
.note-enter-active {
  animation: note 1s ease-out alternate-reverse;
  opacity:0;
}

@keyframes note {
  0% {
    transform: translateX(0px);
  }
  35% {
    transform: translateX(30px);
    opacity: .75;
  }
  100% {
    transform: translateX(-150px);
    opacity: 0;
  }
}